@use "../../../general/_media-queries.scss" as *;
@use "../../../general/colors" as *;

.section {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1690px;
    padding: 0px 14px 0px 20px;
    padding: 10px 15px 0px;

    @media (min-width: $screen-sm-min) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @media (min-width: $screen-lg-min) {
        margin-top: 69px;
        margin-bottom: 69px;
        padding: 20px 40px 0px;
    }
}

.section-background {
    background: $sectionbg;
    color: $text;
}

.homepage {
    display: grid;
    grid-template-areas:
        "text-block text-block"
        "text-bottom .";
    grid-template-areas:
        "text-block"
        "image-block"
        "text-bottom";
    grid-template-columns: 100%;

    @media (min-width: $screen-md-min) {
        grid-template-areas:
        "text-block image-block"
        "text-bottom text-bottom";
        grid-template-columns: 61% 39%;
    }

    @media (min-width: $screen-lg-min) {
        grid-template-columns: 56% 44%;
    }

    .textContainer{
        grid-area: text-block;
    }

    .bannerContainer {
        display: block;
        position: relative;
        z-index: 0;

        @media (min-width: $screen-sm-min) {
            display: block;
            grid-area: image-block;
        }

        .kievSmall{
            margin: auto;
            display: block;
            width: 380px;
            height: 390px;
            border: 20px solid $white;
            @media (min-width: $screen-sm-min) {
                position: relative;
                z-index: 2;
                margin: 0;
            }
        }

        .kievBig{
            display: none;

            @media (min-width: $screen-md-min) {
                display: block;
                position: absolute;
                z-index: 1;
                width: 455px;
                height: 758px;
                border: 20px solid $white;
                bottom: -65px;
                right: 0;
            }
        }
    }

    .orderConsultationContainer {
        grid-area: text-bottom;
        margin: auto;
        margin-top: 20px;
        .btn {
            max-width: 297px;
            margin: 0;
        }
    }

    &.type-one {
        display: grid;
        grid-template-areas:
        "text-block"
        "image-block";
        grid-template-columns: 100%;
        //
        //grid-template-areas:
        //    "text-block text-block image-block"
        //    "text-block image-block image-block";

        @media (min-width: $screen-md-min) {
            //grid-template-areas:
            //"text-block text-block image-block"
            //"text-block image-block image-block";
            //grid-template-columns: 35% 30% 35%;
            grid-template-areas:
            "text-block text-block image-block"
            "text-bottom . image-block";
            grid-template-columns: 22% 39% 39%;
        }

        @media (min-width: $screen-lg-min) {
            //grid-template-columns: 65% 35%;
        }

        .textContainer{
            grid-area: text-block;

            .quote {
                width: 100%;
                max-width: 752px;


                @media (min-width: $screen-md-min) {
                    top: 100px;
                    position: relative;
                    left: 50px;
                }

                .consultationRequest{
                    max-width: 297px;
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }

        .bannerContainer {
            display: block;
            position: relative;
            z-index: 0;
            height: auto;

            @media (min-width: $screen-sm-min) {
                display: block;
                grid-area: image-block;
            }

            @media (min-width: $screen-md-min) {
                height: 838px;
            }

            .kievSmall{
                //display: none;
                width: 100%;
                display: block;
                border: 20px solid $white;

                @media (min-width: $screen-sm-min) {
                    display: block;
                    max-width: 380px;
                    height: 390px;
                    position: relative;
                    z-index: 2;
                }

                @media (min-width: $screen-md-min) {
                    top: -406px;
                    right: 169px;
                }
            }

            .kievBig{
                //display: none;
                width: 100%;
                display: block;
                border: 20px solid $white;

                @media (min-width: $screen-sm-min) {
                    display: block;
                    position: relative;
                    z-index: 1;
                    max-width: 455px;
                    height: 758px;
                    bottom: -42px;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
}



.team {

    @media (min-width: $screen-sm-min) {

    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

    }
}

.practicts {
    background: $practicsbg;
    position: relative;
    padding-top: 30px;
    z-index: -10;
    z-index: 0;

    @media (min-width: $screen-md-min) {
        //padding-top: unset;
    }

    .ulPrictics {
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: repeat(8, 250px);
        margin: 0;
        padding: 0;
        gap: 1em;

        @media (min-width: $screen-sm-min) {
            grid-template-columns:auto auto;
            grid-template-rows: repeat(4, 250px);
            grid-template-rows: repeat(2, 250px);
            grid-template-rows: auto auto;
        }

        @media (min-width: $screen-md-min) {
            grid-template-columns:auto auto auto auto;
            //grid-template-rows: 230px;
        }

        @media (min-width: $screen-lg-min) {

        }

        .li {
            list-style-type: none;
            width: 100%;
            max-width: 407px;
            height: 210px;
            position: relative;
            border: 1px solid $text2;
            margin: auto;
            &:before {
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-108%);
                content: '';
                display: block;

                background: url("../assets/home-practics/ellipse.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 150px;
                height: 96px;
                z-index: -2;
            }

            &:after {
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-155%);
                content: '';
                display: block;
                //background: url("../assets/home-practics/Vector-0.png");
                background-repeat: no-repeat!important;
                background-size: contain!important;
                width: 55px;
                height: 55px;
                z-index: -1;
            }

            &:nth-child(1) {
                &:after {
                    background: url("../assets/home-practics/Vector-1.png");
                }
            }

            &:nth-child(2) {
                &:after {
                    background: url("../assets/home-practics/Vector-2.png");
                }
            }

            &:nth-child(3) {
                &:after {
                    background: url("../assets/home-practics/Vector-3.png");
                }
            }

            &:nth-child(4) {
                &:after {
                    background: url("../assets/home-practics/Vector-4.png");
                }
            }

            &:nth-child(5) {
                &:after {
                    background: url("../assets/home-practics/Vector-5.png");
                }
            }

            &:nth-child(6) {
                &:after {
                    background: url("../assets/home-practics/Vector-6.png");
                }
            }

            &:nth-child(7) {
                &:after {
                    background: url("../assets/home-practics/Vector-7.png");
                }
            }

            &:nth-child(8) {
                &:after {
                    background: url("../assets/home-practics/Vector-8.png");
                }
            }

            &:nth-child(9) {
                &:after {
                    background: url("../assets/home-practics/Vector-9.png");
                }
            }

            &:nth-child(10) {
                &:after {
                    background: url("../assets/home-practics/Vector-10.png");
                }
            }

            &:nth-child(11) {
                &:after {
                    background: url("../assets/home-practics/Vector-11.png");
                }
            }

            &:nth-child(12) {
                &:after {
                    background: url("../assets/home-practics/Vector-12.png");
                }
            }

            &:nth-child(13) {
                &:after {
                    background: url("../assets/home-practics/Vector-13.png");
                }
            }

            &:nth-child(14) {
                &:after {
                    background: url("../assets/home-practics/Vector-14.png");
                }
            }

            &:nth-child(15) {
                &:after {
                    background: url("../assets/home-practics/Vector-15.png");
                }
            }

            &:nth-child(16) {
                &:after {
                    background: url("../assets/home-practics/Vector-16.png");
                }
            }

            &:nth-child(17) {
                &:after {
                    background: url("../assets/home-practics/Vector-17.png");
                }
            }

            &:nth-child(18) {
                &:after {
                    background: url("../assets/home-practics/Vector-18.png");
                }
            }

            &:nth-child(19) {
                &:after {
                    background: url("../assets/home-practics/Vector-19.png");
                }
            }

            &:nth-child(20) {
                &:after {
                    background: url("../assets/home-practics/Vector-20.png");
                }
            }

            .menu {
                font-family: 'Nunito', serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color:$text2;
                text-decoration: none;
                display: block;
                margin: auto;
                width: 100%;
                max-width: 220px;
                max-width: 295px;
                bottom: -113px;
                position: relative;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .btn-container {
        padding-top: 70px;
        padding-bottom: 70px;
        max-width: 297px;
        margin: auto;
        .allPractics {
            max-width: 297px;
        }
    }
}

.clients {
    height: auto;
    margin-bottom: 0;
    background: $white;
    position: relative;
    z-index: 0;

    @media (min-width: $screen-md-min) {
        padding-top: 30px;
        height: 350px;
        margin-bottom: unset;
    }

    @media (min-width: $screen-lg-min) {
        height: 423px;
    }

    .title {
        margin-bottom: 30px;
    }

    .ulClients {
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 170px;
        gap: 10px;
        margin: 0;
        padding: 0;

        @media (min-width: $screen-sm-min) {
            grid-template-columns:auto auto auto;
        }

        @media (min-width: $screen-md-min) {
            grid-template-columns:auto auto auto auto auto auto;
        }

        @media (min-width: $screen-lg-min) {

        }

        .li {
            list-style-type: none;
            align-self: center;
            text-align: center;
            position: relative;
            min-height: 100px;
            margin: 20px 0;

            @media (min-width: $screen-md-min) {

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 166px;
                    width: 1px;
                    background: $clientborder;
                    right: 0;
                    top:2px
                }
                margin: unset;
            }



            &:nth-child(2),
            &:nth-child(4){
                &:after{
                    display: none;
                    @media (min-width: $screen-sm-min) {
                        display: block;
                    }
                }

            }

            &:nth-child(3){
                &:after{

                    @media (min-width: $screen-sm-min) {
                        display: none;
                    }

                    @media (min-width: $screen-md-min) {
                        display: block;
                    }
                }

            }

            &:last-child{
                &:after{
                    display: none;
                }
            }

            .imageClients{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    .infoClients{
        background: $clientsbg;
        display: grid;
        grid-template-columns:auto ;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 1690px;
        position: relative;
        margin: auto;


        @media (min-width: $screen-sm-min) {
            grid-template-columns:auto auto auto;
        }

        @media (min-width: $screen-md-min) {
            grid-template-rows: 330px;
            top:23px;
            grid-template-rows: 279px;
        }

        @media (min-width: $screen-lg-min) {

        }

        .li{
            list-style-type: none;
            padding: 32px;

            .title {
                text-align: center;
                color: $text2;
                font-family: 'Nunito', serif;
                font-weight: 700;
                line-height: 90px;

                @media (min-width: $screen-sm-min) {

                }

                @media (min-width: $screen-md-min) {
                    font-size: 70px;
                    line-height: 90px;
                }

                @media (min-width: $screen-lg-min) {

                }
            }

            .text {
                font-family: 'Nunito', serif;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 21px;
                text-align: center;
            }
        }
    }
}

.consultation {
    background: url("../assets/images/consultaionbg.png");
    background-repeat: no-repeat;
    min-height: 707px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    background-size: cover;

    @media (min-width: $screen-md-min) {
        min-height: unset;
        height: 557px;
        margin-top: unset;
        padding-top: unset;
    }

    .title {
        font-family: 'Nunito', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 21px;
        color: $white;

        @media (min-width: $screen-sm-min) {

        }

        @media (min-width: $screen-md-min) {
            font-size: 40px;
            line-height: 49px;
            padding-top: 231px;
            //font-size: 40px;
            //line-height: 49px;
        }

        @media (min-width: $screen-lg-min) {
            padding-top: 191px;
        }
    }

    .text {
        font-family: 'Nunito', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 21px;
        width: 100%;
        margin-bottom: 21px;
        color: $white;

        @media (min-width: $screen-lg-min) {
            max-width: 811px;
        }
    }

    fieldset {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        justify-content: stretch;
        //margin-bottom: 0px;

        @media (min-width: $screen-md-min) {
            width: 100%;
            max-width: 768px;
            max-width: 642px;
            grid-template-columns: auto auto;
            //margin-bottom: 40px;
        }

        .form-group {
            position: relative;

            .alert {

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 19px;
                color: red;
                position: relative;
                top:1%;
                left: 0;
                padding: 0;
                border: none;
            }

            .hidden {
                display: none;
            }
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    .input{
        width: 100%;
        max-width: 360px;
        max-width: 295px;
        height: 50px;
        opacity: 0.4;
        border: 1px solid #FFFFFF;
        appearance: none;
        -webkit-appearance: none;
        margin-bottom: 40px;

        &:hover{
            opacity: 1;
        }
    }

    .btn {
        width: 297px;
        margin: 0;
    }

    &.type-one{
        height: auto;
        padding-block: 20px;

        @media (min-width: $screen-md-min) {
            height: 437px;
        }

        .title {
            padding-top: 20px;
        }
    }

    .consultationForm {

        @media (min-width: $screen-md-min) {
            padding: 0px 1px;
        }
    }


    .g-recaptcha {
        position: relative;
        top: -6px;
        left: 13px;
    }

    .form-group {
        .btn {
            position: relative;
            margin: auto;

            @media (min-width: $screen-md-min) {
                margin: 0;
                top: -6px;
                left: 8px;
            }
        }
    }

    .fGroup {
        display: flex;
        flex-direction: row;
        width: 304px;
        margin: auto;

        p,
        .text {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;

            @media (min-width: $screen-md-min) {
                top: 11px;
                text-align: right;
            }

            @media (min-width: $screen-lg-min) {
                text-align: center;
            }
        }

        input {
            width: 66px;
            height: 50px;
            position: relative;
            left: -4px;
            top: -13px;

            @media (min-width: $screen-md-min) {

                width:50px;
                height: 50px;

                top:-5px;
                right: -5px;
            }
        }

        @media (min-width: $screen-md-min) {
            margin: 0;
        }
    }
}

.mapContainer {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    min-height: 430px;
    display: grid;
    grid-template-areas:
        "mapContacts"
        "googleMaps";
    grid-template-rows: 450px 580px;



    @media (min-width: $screen-lg-min) {
        display: block;
        grid-template-areas:unset;
        min-height: unset;
        height: 530px;
    }

    #map {
        height: 100%; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

    .googleMaps{
        grid-area:googleMaps ;
    }

    .mapContacts{
        grid-area: mapContacts;
        width: 100%;

        height: 429px;
        border:20px solid $bigborder;
        background: $white;
        position: relative;

        @media (min-width: $screen-sm-min) {

        }

        @media (min-width: $screen-md-min) {

        }

        @media (min-width: $screen-lg-min) {
            max-width: 729px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-8%,-94%);
            transform: translate(5%,-111%);
        }

        .ulContacts {
            .li{
                list-style-type: none ;
                line-height: 30px;

                &:before {
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: $bigborder; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                    position: absolute;
                }
            }
        }

        .title {
            font-family: 'Nunito', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            padding: 12px;
            margin-bottom: 0px;

            @media (min-width: $screen-lg-min) {
                margin-bottom: 16px;
                padding: 32px;
            }
        }

        .text {
            color:$black;
            font-family: 'Nunito', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
        }

        .link {
            color:$black;
            display: inline-block;
            text-decoration: underline;

            &:hover{
                cursor: pointer;
            }
        }

        .map {

        }

        .phone{

        }

        .email{

        }

        .btn {
            max-width: 265px;
        }

        .ulSocialsLinks{
            margin: 0;
            padding: 0;

            .li {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}

.standardPage {
    display: grid;
    grid-template-areas:
    "pageInfo"
    "pageImg";
    grid-template-columns: auto;

    @media (min-width: $screen-md-min)   {
        grid-template-areas:
        "pageInfo pageImg";
        grid-template-columns: 57% 41%;
    }
}

.proBono {
    display: flex;
    flex-direction: column;

    //grid-template-areas:
    //"bonoInfo"
    //"bonoImg";
    //grid-template-columns: auto;

    @media (min-width: $screen-md-min)   {
        display: grid;
        grid-template-areas:
        "bonoInfo bonoImg";
        grid-template-columns: 57% 41%;
    }

    .bonoInfo {
        grid-area: bonoInfo;
        margin: 20px 0px;
        @media (min-width: $screen-md-min)   {
            margin: 0;
        }
    }

    .bonoImg {
        grid-area: bonoImg;
        text-align: center;
        //background-size: cover;
        //background-size: contain;
        //height: 100%;
        //width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 250px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            max-width: 365px;
        }



        @media (min-width: $screen-md-min)   {
            background-size: contain;
            margin: 1em;
        }
    }
}
