.section {
    //padding: 0;
    &.contacts {


        .uLContacts {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 200px;
            padding: 0;
            gap: 1em;

            @media (min-width: $screen-sm-min) {

            }

            @media (min-width: $screen-md-min) {
                grid-template-columns: auto auto;
                grid-template-rows: 300px;
            }

            .li {
                list-style-type: none;
                text-align: center;
                position: relative;
                align-self: center;
                height: 100%;

                &:before {
                    content: '';
                    width: 125px;
                    height: 125px;
                    display: block;
                    position: relative;
                    top:64px;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border: 1px solid $bigborder;
                    border-radius: 50%;
                    //background-size: contain;
                    background-position: center center!important;
                    background-repeat: no-repeat!important;

                }

                &:nth-child(1){
                    &:before{
                        background: url("../assets/images/vector-map.png");
                    }
                }

                &:nth-child(2){
                    &:before {
                        background: url("../assets/images/vector-phone.png");
                    }
                }

                &:nth-child(3) {
                    &:before {
                        background: url("../assets/images/vector-email.png");
                    }
                }

                &:nth-child(4) {
                    &:before {
                        background: url("../assets/images/communication.svg");
                        fill: #a5906d;
                        background-size: contain;
                        border-radius: unset;
                        border: none;
                        left: 53%;
                    }
                }


                .text {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: $black;
                    margin: 5px 0px;

                    @media (min-width: $screen-md-min) {
                        line-height: 50px;
                    }

                    .link {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        color: $black;
                        text-decoration: underline;
                        a {
                            text-align: center;
                            color: $black;
                            text-decoration: underline;

                        }
                    }
                }

                a {
                    line-height: 40px!important;
                    padding: 0em 1em;
                    display: grid;

                    &:hover {
                        background: #ccc;
                    }
                }

                @media (min-width: $screen-sm-min) {

                }

                @media (min-width: $screen-md-min) {

                }
            }
        }

        &.mapContainer {

            .mapContacts {
                display: none;
            }
        }
    }


}

