footer {
    display: grid;
    .copyright {
        width: 100%;
        background: $black;
        height: 72px;
        .text {
            text-align: center;
            color: $white;
            line-height: 72px;

            a {
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
