@use "../general/_media-queries.scss" as *;
@use "../general/colors" as *;

header {
    //background-image: url("../assets/images/banner_kiev.png") ;

    width: 100%;
    max-width: 1920px;
    height: 774px;
    //background-image: url("../assets/images/banner.png");
    background-image: url("../assets/images/headers/podil.jpg");
    //background-image: url("../assets/images/headers/banner-group.png");
    background-color: rgba(60, 80, 100, 0.61); /* use rgba for fine adjustments */
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

    &#header-small {
        height: 423px;
        padding: 0;
        background-color: rgba(60, 80, 100, 0.61) !important; /* use rgba for fine adjustments */
        background-blend-mode: multiply !important;
        background-repeat: no-repeat !important;
        z-index: 1;

        @media (min-width: $screen-md-min) {
            height: 370px;
        }

        &.about-us {
            //background-image: url("../assets/images/headers/banner-about-us.png");
            background-image: url("../assets/images/headers/banner-about-us.jpg");
            background-repeat: no-repeat;
        }

        &.clients {
            //background-image: url("../assets/images/headers/banner-clients.png");
            background-image: url("../assets/images/headers/banner-clients.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -100px;
        }

        &.contacts {
            background-image: url("../assets/images/headers/banner-contacts.png");
            background-repeat: no-repeat;
        }

        &.dosyagnennya {
            //background-image: url("../assets/images/headers/banner-dosyagnennya.png");
            background-image: url("../assets/images/headers/banner-dosyagnennya.jpg");
            background-repeat: no-repeat;
        }

        &.open-praktika {
            background-image: url("../assets/images/headers/banner-open-praktika.png");
            background-repeat: no-repeat;
        }

        &.practicts {
            //background-image: url("../assets/images/headers/banner-practicts.png");
            background-image: url("../assets/images/headers/banner-practicts.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -122px;
        }

        &.pro-bono {
            background-image: url("../assets/images/headers/banner-pro-bono.png");
            background-repeat: no-repeat;
        }

        &.team {
            //background-image: url("../assets/images/headers/banner-team.png");
            background-image: url("../assets/images/headers/banner-team.jpg");
            //background-position-y: -340px;
            background-repeat: no-repeat;
            background-position-x: -55px;

            @media (min-width: $mediaTabletMin) {
                background-position-x: 0;
            }

            @media (min-width: $mediaTableMiddle) {
                background-position-y: -120px;
            }

            @media (min-width: $screen-md-min) {
                background-position-y: -200px;
            }

        }

        .rowFirst {

            grid-template-columns: 76% 24%;
            grid-template-rows: 54px;
            grid-template-areas: "advokat-info advokat-menu";


            @media (min-width: $screen-sm-min) {
                grid-template-columns: 100%;
                grid-template-areas: " advokat-menu";
            }

            @media (min-width: $screen-md-min) {
                grid-template-columns: auto;
                //grid-template-columns: 10% 80% 10%;
                grid-template-areas: "advokat-info advokat-callme" "advokat-menu advokat-menu"
            }

            @media (min-width: $screen-lg-min) {
                grid-template-columns: 10% 80% 10%;
                grid-template-areas: "advokat-info advokat-menu advokat-callme ";
            }

            .menuContainer {
                position: relative;

                .navbar {

                    .navbar-nav {

                        .nav-item {

                            @media (min-width: $screen-md-min) {
                                margin: 0 24px;
                            }

                        }
                    }
                }
            }
        }

        .rowSecond {
            display: grid;
            //grid-template-columns: 76% 24%;
            grid-template-columns: 100%;
            grid-template-rows: 190px;
            //grid-template-areas: "advokat-logo advokat-info advokat-callme";
            grid-template-areas:
                "advokat-logo"
                "advokat-info"
                "advokat-callme";

            @media (min-width: $screen-sm-min) {

                //grid-template-areas: "advokat-logo advokat-info advokat-callme";
            }

            //@media (max-width: 1050px) {
            //    grid-template-columns: 35% 35% 30%;

            //}

            // @media (min-width: 1200px) {
            @media (min-width: $screen-md-min) {
                grid-template-rows: 315px;
                grid-template-areas: "advokat-logo advokat-info advokat-callme";
                grid-template-columns: 48% 23% 30%;
            }

            @media (min-width: $screen-lg-min) {
                grid-template-columns: 35% 30% 30%;
                grid-template-areas: "advokat-logo advokat-info advokat-callme";
                grid-template-rows: 176px;
            }

            .logoContainer {
                grid-area: advokat-logo;
                margin-top: 0;
                display: flex;
                @media (min-width: $screen-md-min) {

                }

                .logo {
                    display: flex;
                    justify-content: center;
                    text-align: left;

                    .img-logo {
                        width: 85px;
                        height: 98px;
                    }

                    .title {
                        font-family: 'Nunito', serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 35px;
                        line-height: 45px;
                        color: $title;
                        padding: 0 10px;

                        span {
                            padding: 0 0;
                            font-family: 'Nunito', serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 32px;
                            color: $title;
                            margin: 20px 0px;
                        }
                    }
                }
            }

            .contactsContainer {
                grid-area: advokat-info;
                display: flex;
                justify-content: center;
                /* align-content: baseline; */
                align-items: center;
                flex-direction: column;

                a {
                    font-family: 'Nunito', serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 40px;
                    color: $white;
                    text-decoration: none;
                    display: block;
                    text-align: center;

                    @media (min-width: $screen-md-min) {
                        line-height: 30px;
                    }

                    span {
                        font-size: 22px;
                    }
                }
            }

            .orderCallContainer {
                display: flex;
                top: 20px;
                position: relative;
                width: 100%;

                margin: auto;
                flex-direction: row;

                #callRequest {
                    max-width: 207px;
                }

                .startEngVersion {
                    max-width: 82px;
                    background: transparent;
                    box-shadow: none;
                    display: flex;
                    flex-direction: row;
                    align-items: anchor-center;
                    gap: 10px;
                }

                @media (min-width: $screen-md-min) {
                    top: 0;
                }
            }
        }
    }

    .rowFirst {
        width: 100%;
        max-width: 1690px;
        margin: auto;
        display: grid;
        //grid-template-columns: 2fr 8fr 2fr;
        align-items: center;
        position: relative;
        grid-template-columns: 76% 24%;
        grid-template-rows: 100px;
        grid-template-areas: "advokat-info advokat-menu";


        @media (min-width: $screen-sm-min) {
            grid-template-columns: 35% 50% 15%;
            grid-template-areas: "advokat-info advokat-callme advokat-menu";

        }

        @media (min-width: $screen-md-min) {
            grid-template-columns: auto;
            grid-template-areas:         "advokat-info advokat-callme"
        "advokat-menu advokat-menu"
        }

        @media (min-width: $screen-lg-min) {
            grid-template-columns: 20% 60% 20%;
            grid-template-areas: "advokat-info advokat-menu advokat-callme ";
        }


        .contactsContainer {
            grid-area: advokat-info;

            a {
                font-family: 'Nunito', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: $white;
                text-decoration: none;
                display: block;
                text-align: center;

                span {
                    font-size: 22px;
                }
            }
        }

        .menuContainer {
            grid-area: advokat-menu;

            .navbar {
                position: inherit;

                &.navbar-expand-lg {
                    .container-fluid {
                        justify-content: center;

                        .navbar-toggler {
                            display: flex;
                            flex-direction: column;
                            align-items: end;
                            border: none;
                            transition: none !important;
                            position: fixed;
                            z-index: 1;

                            @media only screen and (max-width: 1920px) and (min-width: 1192px) {
                                //@media (min-width: $screen-sm-min) {
                                display: none !important;
                            }

                            &:focus {
                                box-shadow: none;
                            }

                            .navbar-toggler-icon {
                                display: block;
                                width: 50px;
                                height: 4px;
                                border: white;
                                vertical-align: unset;
                                background-image: none;
                                margin: 2.5px 0px;
                                background: #ccc;

                                @media (min-width: $screen-md-min) {
                                    background: $white;
                                }

                                &:nth-child(2) {
                                    width: 40px;
                                }

                                &:nth-child(3) {
                                    width: 30px;
                                }

                                @media (min-width: $screen-md-min) {
                                    display: none;
                                }
                            }

                        }

                        .collapse {

                            &.navbar-collapse {

                                .navbar-nav {
                                    flex-direction: row;
                                    width: 100%;
                                    justify-content: center;

                                    @media (min-width: $screen-md-min) {
                                        height: 50px;
                                    }

                                    .nav-item {
                                        height: 30px;
                                        margin: 0px 14px;
                                        transition: 0.3s ease-in-out;

                                        &:hover {
                                            background: $black;
                                            transition: 0.3s ease-in-out;

                                            a, .menu {
                                                color: $white;
                                            }
                                        }

                                        @media (min-width: $screen-md-min) {
                                            height: 50px;
                                        }

                                        .menu {
                                            color: $white;
                                            font-family: 'Nunito', serif;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 18px;
                                            line-height: 30px;
                                            padding: 0em 1em;

                                            text-align: left;

                                            &:hover {
                                                text-decoration: underline;
                                            }

                                            @media (min-width: $screen-md-min) {
                                                line-height: 50px;
                                                display: inline-grid;
                                                padding: 0em 0.5em;
                                            }
                                        }
                                    }

                                    .current {
                                        position: relative;

                                        .menu {
                                            font-weight: 900;
                                        }

                                        &:after {
                                            content: '';
                                            height: 5px;
                                            background: $white;
                                            width: 100%;
                                            max-width: 55px;
                                            position: absolute;
                                            left: 18px;
                                            bottom: 0px;
                                        }
                                    }
                                }
                            }

                            &.navbar-collapse_mob {
                                display: none !important;
                            }

                            &.show {
                                background: $white;
                                position: fixed;
                                width: 60%;
                                height: auto;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -38%);
                                border-radius: 24px;
                                text-align: center;
                                padding: 20px;
                                z-index: 1;
                                display: flex !important;

                                @media (min-width: $mediaTabletMax) {
                                    display: none !important;
                                }

                                .navbar-nav {
                                    flex-direction: column;

                                    .nav-item {

                                        .menu {
                                            color: $black;
                                        }
                                    }
                                }
                            }

                            &.navbar-collapse_desktop {
                                display: none !important;

                                @media (min-width: $mediaTabletMax) {
                                    display: flex !important;
                                }
                            }
                        }
                    }
                }
            }

        }

        .orderCallContainer {
            display: none;

            @media (min-width: $screen-sm-min) {
                display: flex;
                grid-area: advokat-callme;
            }

            .btn {
                max-width: 205px;
            }

            .startEngVersion {
                height: 20px;
                max-width: 60px;
                display: flex;
                flex-direction: row;
                background: transparent;
                box-shadow: none;
                line-height: 20px;
                gap: 10px;

                span {
                    //background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Ukraine.svg");
                    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Fla");
                    background-repeat: no-repeat; /* or repeat, repeat-x, repeat-y */
                    background-size: cover; /* or contain, specific dimensions */
                    background-position: center; /* or other positions */
                }
            }
        }
    }

    .rowSecond {
        .logoContainer {
            margin-top: 45px;

            .logo {
                display: block;
                margin: auto;
                text-align: center;
                width: 100%;
                max-width: 922px;

                .img-logo {
                    margin-bottom: 20px;
                }

                .title {
                    font-family: 'Nunito', serif;
                    font-style: normal;
                    font-size: 50px;
                    line-height: 64px;
                    color: $title;


                    @media (min-width: $screen-md-min) {
                        font-size: 55px;
                    }


                    @media (min-width: $screen-lg-min) {
                        font-size: 60px;
                    }

                    span {
                        display: block;
                        font-size: 30px;
                        padding: 0px 26px;
                        line-height: 38px;
                        margin: 27px 0px;

                        @media (min-width: $screen-sm-min) {

                        }

                        @media (min-width: $screen-md-min) {
                            font-size: 35px;
                            padding: 0px 10px;
                        }


                        @media (min-width: $screen-lg-min) {
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .orderConsultationContainer {
            //display: block;

            .btn {
                max-width: 297px;
            }

            @media (min-width: $screen-sm-min) {

            }
        }
    }

    .rowThird {
        display: grid;

        @media (min-width: $screen-md-min) {

        }

        @media (min-width: $screen-lg-min) {

        }

    }
}
