/*general css style */
html {
    font-size: 100%; /* This means 16px */
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;500;700&display=swap');
body {
    position: relative;
    font-family: 'Montserrat', serif;
    transition: 0.27s;
    line-height: 1;
    //height: 100%;
    //color: $white;
    //direction: rtl;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.clear {
    clear: both;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: $texttitle;
    margin-bottom: 14px;

    @media (min-width: $screen-sm-min) {
        font-size: 40px;
        line-height: 49px;
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {
        font-size: 40px;
        line-height: 49px;
    }
}

.text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;

    color: $black;

    //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    strong {
        font-weight: 500;
    }
}

.container-fluid {
    //  padding: 0;
    //  margin: 0;
    height: 100%;
    overflow: hidden;

    @media (min-width: $screen-md-min) {

    }
}


* {
    border: 0px solid red;
    outline: 0px solid red!important;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

/*---------------------------------------
   Typography
-----------------------------------------*/

.row-no-padding [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6,
em,
p{
    font-family: 'Montserrat', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 16px;
    //text-align: center;
}

//@font-face {
//  font-family: 'FontAwesome';
//  src: url('../fonts/fontawesome/fontawesome-webfont.ttf') format("truetype");
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'FontAwesome';
//  font-weight: normal;
//  font-style: normal;
//  src: url('../fonts/webfonts/fa-regular-400.ttf') format("truetype");
//  src: url('../fonts/webfonts/fa-solid-900.ttf') format("truetype");
//  src: url('../fonts/webfonts/fa-brands-400.ttf') format("truetype");
//}
//@font-face {
//    font-family: 'Universe';
//    src: url('../fonts/universe/univers-condensed.ttf') format('ttf'),
//    url('../fonts/universe/univers-condensed.woff2') format('woff2'),
//    url('../fonts/universe/univers-condensed.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
//}
